/* CreateAccount.css */
.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.careerboost-title {
    text-align: center;
    font-size: 50px;
    color: #1877f2;
    font-weight: bold;
    margin-bottom: 10px;
}

.signup-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}

.signup-title {
    font-size: 24px;
    font-weight: bold;
    color: #1877f2;
}

.signup-subtitle {
    font-size: 14px;
    color: #606770;
    margin-bottom: 15px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input-group input, .input-group select {
    width: 48%;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccd0d5;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.signup-button {
    background-color: #42b72a;
    color: white;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signup-button:hover {
    background-color: #36a420;
}

.error-message {
    color: red;
    margin-top: 10px;
}

/* Dark mode styles */
body.dark-mode .signup-container {
    background-color: rgb(12, 12, 12);
}
body.dark-mode .careerboost-title {
    color: #e4e6eb;
}

body.dark-mode .signup-card {
    background-color: #242526;
    color: white;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
}

body.dark-mode .signup-title {
    color: #e4e6eb;
}

body.dark-mode .signup-subtitle {
    color: #b0b3b8;
}

body.dark-mode input,
body.dark-mode select {
    background-color: #3a3b3c;
    color: white;
    border: 1px solid #4e4f50;
}

body.dark-mode input::placeholder {
    color: #b0b3b8;
}

body.dark-mode .signup-button {
    background-color: #3a5a99;
}

body.dark-mode .signup-button:hover {
    background-color: #2e4a86;
}

body.dark-mode .error-message {
    color: #ff726f;
}