.section{
  padding-top: 40px;
  padding-bottom: 40px;
}
.main-heading{
  color: rgb(204,18,18);
  font-size: 26px;
}
.underline{
  height: 04px;
  width: 4rem;
  background-color: coral;
  margin-top: 10px;
  margin-bottom: 10px;
}
body {
  background-image: url('./images/image3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  position: relative;
}


