/* AdvancedProfile.css */

/* Profile Page Container */
.advanced-container {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
/* Profile Card */
.advanced-card {
    text-align: center;
    position: relative;
    background-color: #fff;
    /*margin-bottom: 10%;*/
    padding: 20px;
    max-width: 500px;
    border-radius: 8px;
    width: 30%;
    min-width: 20rem;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}

.advanced-title {
    margin-top: 3rem;
    font-size: clamp(1.5rem, 2.5rem, 2.8rem);
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
    color: #1f2937;
}

body.dark-mode .advanced-title {
    color: #ffffff;
}

.advanced-subtitle {
    font-size: 16px;
    color: #7f8c8d;
    text-align: center;
    margin-bottom: 40px;
}
body.dark-mode .advanced-subtitle {
    color: #b0b0b0;
}
.advanced-card .title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
    text-align: center;
    color: #1f2937;
}

.advanced-card .advanced-information{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-align: center;
    color: #1f2937;
}

/* Form Controls */
.advanced-card .form-group label {
    font-weight: bold;
    text-align: left;
    display: block;
    margin-bottom: 5px;
}

.advanced-card .form-control,
.advanced-card .css-2b097c-container{
    width: 100%;
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f8f9fa;
    cursor: pointer;
}

.advanced-card .form-control:disabled,
.advanced-card .css-2b097c-container--is-disabled {
    background-color: #e9ecef;
}

.advanced-card .form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Profile Buttons */
.advanced-buttons {
    flex-direction: row;
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10%;
    margin-top: 2rem;
}

.advanced-button {
    width: clamp(3rem, 10rem, 8rem);
    padding: clamp(0.3rem, 1.5vw, 0.3rem) clamp(0.3rem, 1vw, 0.3rem);
    font-size: clamp(0.3rem, 2vw, 1.3rem);
    background: linear-gradient(45deg, #32a0e4, #c8c9ca); /* Gradient background */
    border: none; /* Remove border */
    color: white; /* Text color */
    /*padding: 10px 20px; !* Padding for buttons *!*/
    /*font-size: 1.2rem; !* Font size *!*/
    font-weight: bold;
    border-radius: 8px; /* Rounded corners */
    text-align: center; /* Center align text */
    text-decoration: none; /* Remove underline from links */
    transition: background 0.3s ease; /* Smooth transition for hover effect */
    /*width: 150px; !* Set specific width *!*/
    min-width: fit-content;
    height: fit-content; /* Set specific height */
}

.advanced-button:hover {
    background: linear-gradient(45deg, #c8c9ca, #32a0e4); /* Reverse gradient on hover */
}

/* Dark Mode */
body.dark-mode .advanced-container {
    background-color: rgb(12,12,12);
}
body.dark-mode .advanced-card .title,
body.dark-mode .advanced-card .advanced-information {
    color: #e4e6eb;
}
body.dark-mode .advanced-card {
    background: #242526;
    color: white;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}

body.dark-mode .form-control,
body.dark-mode .css-2b097c-container {
    background-color: #6e6c6c;
    color: #050505;
}


body.dark-mode .advanced-button:hover {
    color: black;
}
