/* AdvancedProfile.css */

/* Profile Page Container */
.advanced-container {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
/* Profile Card */
.advanced-card {
    width: 100%;
    max-width: 600px; /* Adjusted width for better responsiveness */
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}
/* Form Controls */
.advanced-card .form-group label {
    font-weight: bold;
    text-align: left;
    display: block;
    margin-bottom: 5px;
}

.advanced-card .form-control,
.advanced-card .css-2b097c-container {
    width: 100%;
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f8f9fa;
    cursor: pointer;
}

.advanced-card .form-control:disabled,
.advanced-card .css-2b097c-container--is-disabled {
    background-color: #e9ecef;
}

.advanced-card .form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Profile Buttons */
.advanced-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.advanced-button {
    background: linear-gradient(45deg, #ff6b6b, #ff8e53);
    border: none;
    color: white;
    padding: 8px 15px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    transition: background 0.3s ease;
    width: max-content;
    min-width: 130px;
    height: 40px;
    cursor: pointer;
}

.advanced-button:hover {
    background: linear-gradient(45deg, #ff8e53, #ff6b6b);
    color: white;
}

/* Dark Mode */
body.dark-mode .advanced-container {
    background-color: #050505;
}

body.dark-mode .advanced-card {
    background: #242526;
    color: white;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}

/*body.dark-mode .form-control,*/
/*body.dark-mode .css-2b097c-container {*/
/*    background-color: #3a3b3c;*/
/*    color: white;*/
/*    border-color: #5a5b5c;*/
/*}*/


/* Dark Mode */
body.dark-mode .advanced-button {
    background: linear-gradient(45deg, #ff4444, #ff6a00); /* Darker shades for dark mode */
    color: #fff;
}

body.dark-mode .advanced-button:hover {
    background: linear-gradient(45deg, #ff6b6b, #ff8e53);
    color: black;
}
