.Navbar-App {
    width: 100vw;
    position: fixed; /* Changed from absolute to fixed */
    top: 0; /* Ensure it's at the top */
    left: 0;
    z-index: 9999;
    max-width: 100%;
}

/* Light mode styles */
.navbar-light {
    background-color: rgba(255, 255, 255, 0.9); /* Light transparent white */
    color: black;
    padding: 10px;
}
.logo-link {
    color: black;
}
.navbar-light .navbar-brand,
.navbar-light .nav-link,
.navbar-light .dropdown-toggle {
    color: black; /* Black text color for better contrast */
    font-size: clamp(0.3rem, 1rem, 1.3rem);
    position: relative;
    transition: color 0.2s;
}

.navbar-light .nav-link::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 2px; /* Closer to the text */
    width: 0;
    height: 2px;
    background: linear-gradient(90deg, #3a8dde 0%, #5ee2ff 100%);
    transition: width 0.3s ease;
}

.navbar-light .nav-link:hover::after {
    width: 100%;
}

.navbar-light .nav-link:hover,
.navbar-light .dropdown-toggle:hover {
    color: #555; /* Slightly darker color on hover */
}

/*Dark mode styles*/
body.dark-mode .navbar-light {
    background-color: rgb(12, 12, 12); /* Half transparent black */
    color: white;
    margin-bottom: 0;
}

body.dark-mode .navbar-light .navbar-brand,
body.dark-mode .navbar-light .nav-link,
body.dark-mode .navbar-light .dropdown-toggle {
    color: white; /* White text color for better contrast */
}

body.dark-mode .navbar-light .nav-link:hover,
body.dark-mode .navbar-light .dropdown-toggle:hover {
    color: #ccc; /* Slightly lighter color on hover */
}

/* Additional styles for dropdown menu */
body.dark-mode .dropdown-menu {
    background-color: rgba(47, 45, 45, 0.78); /* Half transparent black for dropdown */
    color: white; /* White text color */
}

body.dark-mode .dropdown-item {
    color: white; /* White text color for dropdown items */
}

body.dark-mode .dropdown-item:hover {
    background-color: rgba(60, 60, 60, 0.78); /* Slightly lighter background on hover */
}